includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
    level: 5
    # No ignoreErrors by default; keep the signal high
