includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
    level: 5
    ignoreErrors:
        - '#Parameter \$factory of attribute class Illuminate\\Database\\Eloquent\\Factories\\HasFactory#'