<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <ini name="memory_limit" value="512M"/>
        <server name="APP_URL" value="http://localhost" force="true"/>
        <server name="APP_ENV" value="testing" force="true"/>
        <server name="APP_MAINTENANCE_DRIVER" value="file"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_STORE" value="array"/>
        <server name="DB_CONNECTION" value="pgsql" force="true"/>
        <server name="DB_HOST" value="postgres" force="true"/>
        <server name="DB_PORT" value="5432" force="true"/>
        <server name="DB_DATABASE" value="paperpulse_test" force="true"/>
        <server name="DB_USERNAME" value="paperpulse_test" force="true"/>
        <server name="DB_PASSWORD" value="paperpulse_test" force="true"/>
        <server name="DB_URL" value="" force="true"/>
        <env name="GEMINI_API_KEY" value="isolated-test" force="true"/>
        <env name="OPENAI_API_KEY" value="isolated-test" force="true"/>
        <env name="TEXTRACT_KEY" value="isolated-test" force="true"/>
        <env name="TEXTRACT_SECRET" value="isolated-test" force="true"/>
        <env name="RUN_GEMINI_INTEGRATION_TESTS" value="false" force="true"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="PULSE_ENABLED" value="false"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SCOUT_DRIVER" value="collection"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
