@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  body {
    @apply bg-amber-50 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-zinc-900 dark:text-zinc-100 font-bold;
  }
  hr {
    @apply border-amber-200 dark:border-zinc-700;
  }
}
